{% extends 'layout.html' %} {% block body %}

    
    
    <body>

        <!-- Prediction Area -->
        <div class="prediction-area">

            <!-- IPL Banner - 1 -->
            <div class='ipl-banner-left'>

                <div class="slider-frame">
                    <div class="slide-images-up">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='India.png') }}" alt="Mumbai Indians">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='Australia_Logo.jpg') }}" alt="Sunrisers Hyderabad">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='New-Zealand.png') }}" alt="Royal Challengers Bangalore">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='South_africa.png') }}" alt="Delhi Capitals">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='Sri_Lanka.png') }}" alt="Rajasthan Royals">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='Bangladesh.png') }}" alt="Kolkata Knight Riders">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='england.png') }}" alt="Kings XI Punjab">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='west_indies.jpg') }}" alt="Chennai Super Kings">
                        </div>

                    </div>
                </div>

            </div>

            <!-- Prediction Form -->
            <div class='div2'>
                <form action="{{ url_for('odi_prediction') }}" method="POST">

                    <input class="form-input" type="text" name="runs" placeholder="Current runs"><br>
                    <input class="form-input" type="text" name="wickets" placeholder="Current wickets"><br>
                    <input class="form-input" type="text" name="overs" placeholder="Overs finished"><br>
                    <input class="form-input" type="text" name="striker" placeholder="Striker runs"><br>
                    <input class="form-input" type="text" name="non-striker" placeholder="Non-striker runs"><br>
                    <input class="form-input" type="text" name="target" placeholder="Total target"><br>


			<input type="submit" class="myButton" value="Predict">
        	</form>
            </div>

            <!-- IPL Banner - 2 -->
            <div class='ipl-banner-right'>

                <div class="slider-frame">
                    <div class="slide-images-down">

                        <!-- Image-1 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='India.png') }}" alt="Mumbai Indians">
                        </div>
                        <!-- Image-2 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='Australia_Logo.jpg') }}" alt="Sunrisers Hyderabad">
                        </div>
                        <!-- Image-3 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='New-Zealand.png') }}" alt="Royal Challengers Bangalore">
                        </div>
                        <!-- Image-4 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='south_africa_logo.png') }}" alt="Delhi Capitals">
                        </div>
                        <!-- Image-5 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='Sri_Lanka.png') }}" alt="Kolkata Knight Riders">
                        </div>
                        <!-- Image-6 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='Bangladesh.png') }}" alt="Rajasthan Royals">
                        </div>
                        <!-- Image-7 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='england.png') }}" alt="Kings XI Punjab">
                        </div>
                        <!-- Image-8 -->
                        <div class="image-container">
                            <img class="image-width" src="{{ url_for('static', filename='west_indies.jpeg') }}" alt="Chennai Super Kings">
                        </div>

                    </div>
                </div>

            </div>
        </div>

        {% endblock %}
